.bg-pfp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/UbATCI6.png');
}

li {
    margin-bottom: 10px;
}
  
li:last-child {
    margin-bottom: 0px;
}
